@use '../../style' as s;

@use '../../style/form.scss' as form;


//== from lesson
// @use '../../style' as s;
@use '../form-field/index.scss' as form-field;

//=====================


.field--select {

    z-index: 1;

    transition: border-color 0.3s;

    &:hover {
        border-color: s.color('gray-dark');
        cursor: pointer;
    }

    position: relative;

    display: flex;
    flex-direction: column;
}

.field__placeholder {
    color: s.color('light');
    font-size: 14px;

    &--selected {
        color: black;
        font-size: 14px;
    }
}

.field__icon {
    display: block;
    height: 16px;
    width: 16px;

    position: absolute;
    top: calc(50% - 8px);
    right: 16px;

    background-image: url('/svg/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.options-list {
    width: 100%;
    max-width: 372px;
    display: flex;
    flex-direction: column;

    background-color: white;

    border: 1px solid s.color('box');
    border-top: 0px;
    border-radius: 0 0 10px 10px;

    height: 0px;
    overflow: hidden;

    transition: height 0.5s;

    z-index: 1;
    position: absolute;

    cursor: pointer;
}


.list__option {
    color: s.color('gray-dark');
    font-size: 16px;
    padding: s.space(2) s.space(4);
    transition: font-weight 0.3s;

    &:hover {
        font-weight: 600;
    }

    &--selected {
        color: s.color('main');
    }
}


//=================================================
// from lesson


// .field--select {
//     .field__select {
//         border: 1px solid s.color('box');
//         background-color: s.color('box');
//         border-radius: 10px;
//         padding: s.space(4);

//         display: flex;
//         gap: s.space(2);
//         align-items: center;

//         cursor: pointer;
//         transition: border-color 0.3s;

//         position: relative;
//     }

//     .field__value {
//         font-size: 14px;
//         color: s.color('dark');

//         &--placeholder {
//             color: s.color('light');
//         }
//     }

//     .field__container {
//         display: grid;
//         position: relative;

//         &:hover {
//             .field__select {
//                 border-color: s.color('light');
//             }
//         }
//     }

//     .field__label--select {
//         font-size: 16px;
//         color: s.color('dark');
//     }


//     .field__icon {
//         display: block;
//         height: 20px;
//         width: 20px;

//         background-image: url('/svg/arrow-down.svg');
//         background-size: contain;
//         background-repeat: no-repeat;
//         background-position: center center;

//         position: absolute;
//         top: calc(50% - 10px);
//         right: s.space(4);
//     }

//     .field__option-list {
//         padding: s.space(4);
//         display: none;
//         border: 1px solid s.color('box');
//         border-radius: 10px;
//         overflow: scroll;
//         background: white;
//         max-height: 160px;
//         z-index: 1;
        
//         .field__option {
//             @include s.click();

//             &:not(:last-of-type) {
//                 padding-bottom: s.space(4);
//             }

//             transition: color 0.3s;

//             &[active] {
//                 color: s.color('main');

//                 &:hover {
//                     opacity: 1;
//                 }
//             }
//         }

//         &[active] {
//             display: block;
//         }

//         position: absolute;
//         top: 100%;
//         right: 0px;
//         width: 100%;
//     }

//     .field__input--disabled {
//         display: none;
//     }
// }