<div class='field field--password'>

  <label class='field__label' for='{{name}}'>
    {{label}}
  </label>

  <div class='field__wrapper'>
    <input
      oninput='signupForm.change(this.name, this.value)'
      type='password'
      class='field__input validation'
      name='{{name}}'
      value=''
      placeholder='{{placeholder}}'
    />
    <span
      onclick='fieldPassword.toggle(this)'
      class='field__icon'
    ></span>
  </div>
</div>