@use '../../style' as s;

.field {
    display: flex;
    flex-direction: column;
    gap: s.space(2);

    font-size: 14px;

    &__label {
        font-size: 14px;
        color: s.color('gray-dark');
    }

    &__input {
        border: 1px solid s.color('box');
        background-color: s.color('box');

        padding: s.space(4);
        border-radius: 10px;

        font-size: 14px;

        &::placeholder {
            color: s.color('light');
        }

        color: s.color('dark');

        transition: border-color 0.3s;

        &:hover {
            border-color: s.color('main');
        }

        &:focus {
            border-color: s.color('main');
        }

        &--error {
            border-color: s.color('red-light') !important;
        }
    }

    // &__wrapper {
    //     width: 100%;
    //     display: grid;

    //     position: relative;

    //     & .field__icon {
    //         @include s.click;

    //         display: block;
    //         height: 14px;
    //         width: 14px;

    //         background-size: cover;

    //         &[show] {
    //             background-image: url('svg/eye-off.svg');
    //         };

    //         position: absolute;
    //         right: 16px;
    //         top: calc( 50% - 7px);

    //     }

    // }

}