<div class='page page--background'>
  <header>
    {{> back-button}}
  </header>

  <form class="page__section">
    <h1 class="page__title">Реєстрація</h1>

    <div class="form">

      <div class="form__item">
        {{> field action="signupForm.change" type="email" name="email" label="Ел. адреса" placeholder="fly1prod@gmail.com"}}
        <span name='email' class="form__error">Помилка</span>
      </div>

      <div class="form__item">
        {{> field-select action="signupForm.change" name="role" label="Роль" placeholder="Оберіть роль" list=data.role}}
        <span name='role' class="form__error">Помилка</span>
      </div>

      <div class="form__item">
        {{> field-password action="signupForm.change" name="password" label="Пароль" placeholder="Введіть пароль"}}
        <span name='password' class="form__error">Помилка</span>
      </div>

      <div class="form__item">
        {{> field-password action="signupForm.change" name="password-repeat" label="Пароль ще раз" placeholder="Введіть пароль" text="Увага, пароль неправильний!"}}
        <span name='password' class="form__error">Помилка</span>
      </div>

      <div class="form__item">
        {{> field-checkbox action="signupForm.change" name="isConfirm" label="Ви погоджуєтеся з правилами сервіса"}}
        <span name='isConfirm' class="form__error">Помилка</span>
      </div>
    </div>

    <button class="button" type="button" onclick="signupForm.submit()">Зареєструватися</button>

    <span class="alert alert--error">Увага, помилка!</span>
  </form>
</div>